body {
	background: rgba(0,0,0,0.05);
	margin:0;
	font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif !important;
	font-weight: normal;
}
ul, ol, dl {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}
#header {
	font-weight: bold;
	background-color: #2980b9;
	color:#fff;
}
#header .logo, #header .logo_1{
	background-image: url(images/logo.png);
	display:inline-block;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#header .logo_1 {
	background-image: url(images/logo_1.png);
}

#header h1 {
	display: inline-block;
	padding: 10px;
	margin: 0;
	vertical-align: top;
}
#header .searchbar {
	display: inline-block;
	float: right;
}
.searchbar input {
	font-size: .9em;
}
input.searchfield {
	min-width: 200px;
}
.searchbar input[type='submit'] {
	border:none;
	background-color: rgb(52,49,49);
	font-size: 0.8em;
	padding: .3em .4em;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
}
input.searchfield:focus {
	min-width: 300px;
	outline:1px solid rgba(43, 120, 192, 0.85);
}
#content-section {
	min-height: 620px;
    background-color: rgb(52,49,49);
    display:inline-block;
}
.sidebar {
	cursor: pointer;
	display: inline-block;
	min-width: 150px;
	max-width: 150px;
	color: #b3b3b3;
}
.sidebar ul li {
	padding: 10px 20px;
}
.sidebar ul li:hover {
	background-color: rgb(78,74,74);
}
.sidebar ul li a, .sidebar ul li a:link, .sidebar ul li a:visited, .sidebar ul li a:hover, .sidebar ul li a:active {
	display: inline-block;
	padding: .2em;
	font-size: 90%;
	text-decoration: none;
	color: #b3b3b3;
}
.contents {
	max-width: 1400px;
	min-width: 1000px;
	background-color: #fff;
	display:inline-block;
	padding: 10px 20px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	min-height: 600px;
	position: absolute;
	left:150px;
	top:52px;
}
.contents input[type='text'], .contents select, .contents textarea {
	border:none;
	border-bottom: 1px dotted #ccc;
	border-radius: 0;
	background-color: transparent; /*#DBF5FF;*/
	font-size: .8em;
	min-width: 150px;
	margin-left: .5em;
}
.contents textarea {
	min-height: 75px;
	min-width: 300px;
	border-bottom:1px dotted #ccc;
	background-color: #F8F2AD;
	resize:none;
}
.contents button, .contents input[type='submit'], .contents input[type='button'] {
	/*border: 1px solid #448BB9;
	background-color: #2F8DCA;
	color: #fff; */
	border: 1px solid #0076C5;
	background-color: #137FC7;
	font-size: 0.8em;
	padding: .4em;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
}
.contents button:active {
	background-color: #C0D2E4;
	outline:none;
}
.contents button:focus {
	outline:none;
}

.contents input[type="checkbox"] + label, .contents input[type="radio"] + label {
 	cursor: pointer;
}
.contents input[type="checkbox"]:checked + label, .contents input[type="radio"]:checked + label {
 	background-color: #EAF6FC;
}
.contents table,  .contents table td{
	border: none;
	border-collapse: collapse;
}
	.contents table th, .contents table td {
	 	border-bottom: 1px solid #b3b3b3;
	 	padding:.5em;
	 	font-size:.9em;
	 }
	 .contents table th{
	 	background-color: #C0D2E4;
	 }
.clear {
	clear: both;
}
.component {
	margin-top: 1em;
	border-top: 1px dotted #ccc;
	padding: .3em 0;
}

.error {
	color: rgb(235, 0, 56);
	font-size: .8em;
	font-style: italic;
}


/* ********* Xenon Messager ********/

#msg-container {
	display:none;
}
.xemsgr-top-full {
	position: fixed;
	left: 10px;
	top: 0;
	width:100%;
}
.xemsgr-bottom-full {
	position: fixed;
	left: 10px;
	bottom: 10px;
	width:100%;
}
.xemsgr-success, .xemsgr-error, .xemsgr-info {
	width:95%;
	opacity: .85;
	padding: .5em;
	border-radius: 2px;
}
.xemsgr-success {
	background-color:  rgba(156, 244, 156, 0.85);
}
.xemsgr-error {
	background-color: rgba(193,56,50,0.85);
}
.xemsgr-info {
	background-color: rgba(43, 120, 192, 0.85);
}
.xemsgr-close-button {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	position: relative;
	right: -0.3em;
	top: -0.3em;
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	opacity: 0.8;
}
.xemsgr-msg {
	word-wrap: break-word;
	color: #ffffff;	
}

/* ********* Xenon Messager ********/
.inline-fixed-width {
	width:200px;
	display: inline-block;
}