<!-- ko if: needsCust -->
<div class="col-width-100">
	<label for="channel">Cust Id : </label>
</div>
<div class="col-width-200">	
	<input type ="text" id="custid" data-bind="value: custid"/>
</div>
<!-- /ko -->
<!-- ko if: needsUmir -->
<div class="col-width-100">
	<label for="channel">Umir Id : </label>
</div>
<div class="col-width-200">	
	<input type ="text" id="umirid" data-bind="value: umirid"/>
</div>
<!-- /ko -->
<!-- ko if: needsBovespa -->
<div class="col-width-100">
	<label for="channel">Bovespa Id : </label>
</div>
<div class="col-width-200">	
	<input type ="text" id="bovespaid" data-bind="value: bovespaid"/>
</div>
<!-- /ko -->