<section name="flows">
	<h1>Flows</h1>
	<table>
		<thead>
			<tr>
				<th>Asset Class</th>
				<th>Channel</th>
				<th>Sender Comp</th>
				<th>EMS/OMS</th>
				<th>Cust ID</th>
				<th>Region</th>
				<th>Country</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody data-bind="foreach: flows">
		<tr>
			<td data-bind="text: assetclass"></td>
			<td data-bind="text: channel"></td>
			<td data-bind="text: sendercomp"></td>
			<td data-bind="text: platform"></td>
			<td data-bind="text: custid"></td>
			<td data-bind="text: region"></td>
			<td data-bind="text: country"></td>
			<td><i class="fa fa-tag" data-bind="css: statusClass"></i><span data-bind="text: status" class="small-span"></span></td>
			<td><button data-bind="click: $parent.editFlow">Edit</button></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td><button data-bind="click: addFlow">Create</button></td>
			</tr>
		</tfoot>
	</table>
	<!-- ko if: detailsMode -->
	<floweditor params="id: editId"></floweditor>
	<!-- /ko -->
</section>