<div data-bind="with: flow, css: viewClass">
	<div><button class="fore" data-bind="text: $parent.view, click: $parent.toggleView"></button></div>
	<div class="padding-div">
		<div>
			<label for="assetclass">Asset Class: </label>
			<input type ="text" id="assetclass" data-bind="value: assetclass"/>

			<label for="channel">Channel : </label>
			<input type ="text" id="channel" data-bind="value: channel"/>
			
			<label for="region">Region : </label>
			<input type ="text" id="region" data-bind="value: region"/>

			<label for="country">Country: </label>
			<input type ="text" id="country" data-bind="value: country"/>
		</div>
		<div>
			<label for="assetclass">Sender Comp: </label>
			<input type ="text" id="assetclass" data-bind="value: assetclass"/>

			<label for="channel">Platform : </label>
			<input type ="text" id="channel" data-bind="value: channel"/>
			
			<label for="region">CustId : </label>
			<input type ="text" id="region" data-bind="value: region"/>
		</div>
		<div>
			<button data-bind="click: $parent.save">Save</button>	
		</div>
	</div>
</div>
