<div data-bind="css: viewClass">
	<div><button class="fore" data-bind="text: view, click: toggleView"></button></div>
	<div class="padding-div">
		<div>
			<div class="row">
				<div class="col-width-200">	
					<fieldset>
						<legend>Region : </legend>
						<!-- ko foreach: {data : regionList, as : 'item'}-->
						<p>
							<input type="radio" name="region" data-bind="attr: {id: item}, value: item, checked: $parent.flow.region" />
							<label data-bind="attr : {for : item}, text: item"></label>
						</p>
						<!-- /ko -->
					</fieldset>
				</div>
				<div class="col-width-200">	
					<fieldset>
						<legend>Country : </legend>
						<!-- ko foreach: {data : countryListFiltered, as : 'item'}-->
						<p>
							<input type="radio" name="country" data-bind="attr: {id: item}, value: item, checked: $parent.flow.country" />
							<label data-bind="attr : {for : item}, text: item"></label>
						</p>
						<!-- /ko -->
					</fieldset>
				</div>
				<div class="col-width-200">	
					<fieldset>
						<legend>Asset Class : </legend>
						<!-- ko foreach: {data : assetClassListFiltered, as : 'item'}-->
						<p>
							<input type="radio" name="assetclass" data-bind="attr: {id: item}, value: item, checked: $parent.flow.assetclass" />
							<label data-bind="attr : {for : item}, text: item"></label>
						</p>
						<!-- /ko -->
					</fieldset>
				</div>
			</div>
			<div class="row">	
				<custidrenderer params="{'compVm' : compVm, 'postbox': postbox }"></custidrenderer>
				<dummycomponent params="{'postbox': postbox }"></dummycomponent>
			</div>
		</div>

		<div>
			<button data-bind="click: save">Save</button>	
			<button data-bind="click: cancel">Cancel</button>	
		</div>
	</div>
</div>
