<section name="profile" >
	<!-- <div class="float-right"><button data-bind="click: goBack">Back</button></div> -->
	<!-- ko if: profileVm -->
	
	<div class="sticky-sidebar">
		<ul data-bind="foreach:navLinks">
			<li><a data-bind="text: title, attr: {href: link}"></a></li>	
		</ul>
	</div>
	<div class="inline-contents">
		<div data-bind="with: profileVm" class="bordered-div">
			<div class="row">
				<div class="col-width-100">
					<label for="legalName">Client Name: </label>
				</div>	
				<div class="col-width-200">	
					<span id="legalName" data-bind="text: legalName"></span>
				</div>	
				<div class="col-width-100">
					<label for="ips">IPS : </label>
				</div>	
				<div class="col-width-200">	
					<span id="ips" data-bind="text: ips"></span>
				</div>	
				<div class="col-width-100">
					<label for="coper">Coper: </label>
				</div>
				<div class="col-width-200">	
					<span id="coper" data-bind="text: coper"></span>
				</div>
			</div>
			<div class="row">
				
				<div class="col-width-200">	
					<label for="segmentation">Segmentation : </label>
				</div>
				<div class="col-width-200">
					<input type ="text" id="segmentation" data-bind="value: segmentation"/>
				</div>
			</div>
			
			<div>
				<button data-bind="click: $parent.save">Save</button>	
			</div>
		</div>
		<!-- ko foreach: componentsToLoad -->
			<div class="bordered-div" data-bind="component: {
					name: componentName,
					params: componentParams
			}"></div>
		<!-- /ko -->
		</div>	
	<!-- /ko -->	
	
</section>
