<section name="profile" >
	<div>
		<label for="legalName">Client Name: </label>
		<input type ="text" id="legalName" data-bind="value: legalName"/>

		<label for="ips">IPS : </label>
		<input type ="text" id="ips" data-bind="value: ips"/>
		
		<label for="segmentation">Segmentation : </label>
		<input type ="text" id="segmentation" data-bind="value: segmentation"/>

		<label for="coper">Coper: </label>
		<input type ="text" id="coper" data-bind="value: coper"/>
	
	</div>
	<button data-bind="click: save">Save</button>
	<button data-bind="click: showList">Back to List</button>
</section>