<section name="profiles">
	<h4>Recently visited profiles</h4>
	<table data-bind="if: hasProfiles">
		<thead>
			<tr>
				<th>IPS</th>
				<th>COPER</th>
				<th>Client Name</th>
				<th>Segmentation</th>
				<th></th>
			</tr>
		</thead>
		<tbody data-bind="foreach: recentProfiles">
		<tr>
			<td data-bind="text: ips"></td>
			<td data-bind="text: coper"></td>
			<td data-bind="text: legalName"></td>
			<td data-bind="text: segmentation"></td>
			<td><button data-bind="click: $parent.showProfile">View</button></td>
		</tr>
		</tbody>
	</table>
	<p data-bind="ifnot: hasProfiles">You haven't recently visited any profiles. Search for one in the top search bar.</p>
</section>
