<section name="searchresults">
	<!-- ko if:hasResults -->
	<h4>Search Results</h4>
	<div class="topbar">
		<ul data-bind="foreach:tabs">
			<li data-bind="text:$data, click: $parent.showTab, css: {'selected' : $data === $parent.visibleTab()}">
			</li>
		</ul>
	</div>
	<div data-bind="with:searchResults">
		<ul data-bind="visible: $parent.visibleTab() ==='Profiles', css: {'list-container' : profiles.length > 0}">
			<li>
				<div class="header-200-div">IPS</div>
				<div class="header-200-div">LEGAL NAME</div>
				<div class="header-200-div">Coper</div>
				<div class="header-200-div">&nbsp;</div>
			</li>
		</ul>
		<ul data-bind="foreach: profiles, visible: $parent.visibleTab() ==='Profiles', css: {'list-container' : profiles.length > 0}" style="height:300px;overflow-y:auto;">
			<li>
				<div data-bind="text:ips" class="column-200-div"></div>
				<div data-bind="text:legalName" class="column-200-div"></div>
				<div data-bind="text:coper" class="column-200-div"></div>
				<div class="column-200-div"><button data-bind="click: $parents[1].showProfile">View</button>
					<!-- <a data-bind="attr: {href: '/profile'}">View</a> -->
				</div>
			</li>
		</ul>
	</div>
	<div data-bind="with:searchResults">
		<ul data-bind="foreach: connections, visible: $parent.visibleTab() ==='Connections', css: {'list-container' : connections.length > 0}" >
			<li>
				<div data-bind="text:session.sendercomp" class="column-200-div"></div>
				<div data-bind="text:session.platform.name" class="column-200-div"></div>
				<div data-bind="text:session.network.name" class="column-200-div"></div>
				<div class="column-200-div"><a data-bind="attr: {href: '#'}">View</a></div>
			</li>
		</ul>
	</div>
	<!-- /ko -->
	<p data-bind="if: showInitial">The search did not give any results. Search again</p>
	<p data-bind="if: searching">
		Searching for profiles...
		<i class="fa fa-refresh fa-spin"></i>
	</p>
</section>
